/*
	Display property- change the display of the elements

		inline - consuming the width of the content; examples img and span

		block - consuming the full width of the page, thus creating the line space for the next element; examples "div" and textblocks(h1-h6) and "p" elements

		inline-block- works as inline element for its sibling but block elements outside parent element
			as ling as the sibling elements are inline/inline-blocks, the inline-block elements will appear next to its sibling elements
	
		none - hiding the element form the website and it will not be shown visually; if the element is visually removed, other elements will adjust their position
*/

#div-1{
	background-color: green;
}
#span-1{
	background-color: purple;
	display: none;

}
#span-2{
	background-color: red;
	display: none;
}

#div-2{
	background-color: pink;
	display: inline-block;
}
#img{
	width: 250px;
	height: 250px;
	display: inline-block;
}

#p-1{
	background-color: #87cefa;

}
#p-2{
	background-color: rgb(255,105,180);
	width: 60%;
}
#p-3{
	background-color: yellow;
	width: 40%;
}
#span-sample{
	width: 60%;
	background-color: gray;
}

.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}

.img-flaot{
	width: 250px;
	height: 250px;
	float: right;
}

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}
/*
	rem - root element measurement: The measurement if relative to the root element which is the html;

	em - element measurement: the measurement is relative to its parent element;
*/
.one-rem{
	font-size: 1rem;
}
.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}
.two-em{
	font-size: 2em;
}


.two-hundred-percent{
	font-size: 200%;
}

.background{
	/*background-color: gray;*/
	min-height: 100vh;
	/*background image is outsourced in the internet through the use of url tag*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
}

.title{
	color: white;
	text-align: center;
	font-size: 5rem;
	margin: 0;
	line-height: 35rem;

}

.container-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 100vh;
}

/*CSS POSITION*/
.parent-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
	
}

.child-one{
	background-color: gray;
	padding: 10 px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	/*position: static;*/
	/*position: relative;*/
	/*position: absolute;*/
	/*position: fixed;*/
	position: sticky;
	top: 0;
	
}

.child-three{
	background-color: gray;
	padding: 10 px;
}

html{
	height: 800vh;
}

.container{
	position: relative;
}

.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70px;
	left: 50px;
	top: 50px;
}


.green-box{
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
}