*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

nav{
	margin-top: .5rem;
	margin-bottom: 0.5rem;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav .nav, nav .nav-logo {
	display: inline;
	margin: 1rem;
	position: sticky;
	
}
.right-nav{
	float: right;
}

.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: .5rem;
	padding: .5rem;
	border: none;
}

#bg-image{
	min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: scroll;
	background-position: center;

}

.front-bg{
	background-color: black;
	opacity: 75%;
	height: 50vh;
	margin-bottom: 5rem;
}
.container{
	width: 90%;
	position: relative;
	margin-right: 15%;
	height: 40vh;


}

.title{
	font-size: 2rem;
	font-family: "Zilla Slab", serif;
	width: 30%;
	color: white;
	position: absolute;
	margin-top: .5rem;
	margin-left: 75%;
	text-align: right;


}

.subtitle{
	color: white;
	font-size: 1rem;
	width: 20%;
	position: absolute;
	margin-top: 7rem;
	margin-left: 85%;
	text-align: right;
}


.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	width: 7rem;
	border-radius: 25px;
	font-size: .5rem;
	padding: .5rem 1rem;
	position: absolute;
	margin-top: 15rem;
	margin-left: 97%;

}

.intro{
	text-align: center;
	margin-bottom: 5rem;
	position: relative;
	min-height: 50vh;
	position: relative;

	
}	

.title-2{
	font-family: "Zilla Slab", serif;
	margin: 5rem;
	text-align: center;
	position: absolute;
	width: 90%;
}

.intro-description{
	text-align: left;
	width: 75%;
	margin-top: 10rem;
	margin-left: 15%;
	margin-right: 10%;
	position: absolute;
}

.pre-footer{
	background-color: #f7fbfb;
	position: relative;
	height: 50vh;
	position: relative;

}

.prefooter-description{
	text-align: center;
	width: 75%;
	margin-left: 15%;
	margin-right: 10%;
	margin-top: 10rem;
	position: absolute;

}

.book-button{
	background-color: #336589;
	color: white;
	font-weight: bold;
	width: 7rem;
	border-radius: 25px;
	font-size: .5rem;
	padding: .5rem 1rem;
	margin-left: 46%;
	border: none;
	margin-top: 14rem;

}

footer{
	text-align: center;
}